.example-spacer {
    flex: 1 1 auto;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.container{
  max-width: 1200px;
  margin: 0 auto;
  
}
.mat-toolbar.mat-primary {
  background: #0e1a35;
  color: #fff;
}
button.mat-focus-indicator.mat-raised-button.mat-button-base.mat-warn {
  margin-right: 10px;
  font-size: 14px;
}